<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">

    <a class="navbar-brand"><img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
      style="width: 55px;" alt="logo"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/my-account']">My Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/billing']">Billing Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/manage-devices']">Manage Users/Devices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/my-plans']">My Phone Plans</a>
        </li>
      </ul>
    </div>

    <div>
      <div *ngIf="!toggleLoginText">
        <button class="btn login" style="display: flex;" (click)="login()" >Login</button>
      </div>
      <div *ngIf="toggleLoginText">
        <button class="btn create-account" style="display: flex;" (click)="logout()" >Logout</button>
      </div>
    </div>

  </nav>