<div style="display: flex; padding-top: 2em; align-items: center;">
    <img src="../../assets/errorImg.png" alt="https://i.pinimg.com/736x/84/95/40/849540e32a89e2f78301d763ba98e8f8.jpg">
    <div style="padding-left: 2em; text-align: center;">
        <h1>The page you were looking for cannot be found...</h1>

        <p style="padding-top: 10vh; font-size: larger;">UH OH! You seem to be lost, but not too far gone!</p>
        <button class="btn btn-outline-success" [routerLink]="['/home']"> Go back home</button>
    </div>
</div>